[DEFAULT]
local_ip = {{ undercloud.local_ip }}
image_path = {{  undercloud.image_path }}
network_gateway = {{  undercloud.network_gateway }}
undercloud_public_vip = {{  undercloud.undercloud_public_vip }}
undercloud_admin_vip = {{  undercloud.undercloud_admin_vip }}
local_interface = {{  undercloud.local_interface }}
network_cidr = {{  undercloud.network_cidr }}
masquerade_network = {{  undercloud.masquerade_network }}
dhcp_start = {{  undercloud.dhcp_start }}
dhcp_end = {{  undercloud.dhcp_end }}
inspection_interface = {{ undercloud.inspection_interface }}
inspection_iprange = {{  undercloud.inspection_iprange }}
inspection_extras = {{  undercloud.inspection_extras }}
inspection_runbench = {{  undercloud.inspection_runbench }}
undercloud_debug = {{  undercloud.undercloud_debug }}
enable_tempest = {{  undercloud.enable_tempest }}
ipxe_deploy = {{  undercloud.ipxe_deploy }}
store_events = {{  undercloud.store_events }}

